/*--------head------------*/
.head {
  padding: 20px 0;
  color: #fff;
}
.logo h1 {
  font-size: 35px;
  font-weight: 900;
}
.head .icon {
  margin-left: 10px;
}
/*--------head------------*/
/*--------header------------*/
header {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 30px;
}
header .nav {
  display: flex !important;
}
header li {
  margin-right: 40px;
}
header ul {
  padding: 30px 20px;
}
header ul li a {
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: #f3b600;
}
.start {
  background-color: #f3b600;
  padding: 30px 70px;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}
.toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 1200px) {
  header li {
    margin-right: 29px;
  }
  header ul {
    padding: 25px 20px;
  }
  .logo h1 {
    font-size: 27px;
    font-weight: 900;
  }
}
@media screen and (max-width: 900px) {
  header li {
    margin-right: 11px;
  }
  header ul {
    padding: 25px 5px;
  }
  .logo h1 {
    font-size: 27px;
    font-weight: 900;
  }
  header ul li a {
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
    font-size: 11px;
  }
}

@media screen and (max-width: 600px) {
  .start {
    background-color: #f3b600;
    padding: 20px 70px;
    color: #fff;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  .head {
    padding: 15px 0;
    color: #fff;
  }
  .spanHead{
    font-size: 8px;
  }
  .logo h1 {
    font-size: 20px;
    font-weight: 900;
  }
  .start {
    clip-path: none;
  }
  header {
    margin: 0;
    background-color: #f3b600;
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .mobile-nav {
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    background-color: #f3b600;
  }
}
